@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */

/* 공통영역 */
* {margin: 0;padding: 0;box-sizing: border-box;}
html {scroll-behavior: smooth;}
html, body {height: 100%;}
a:link, a:visited {color: inherit;text-decoration: none;}
nav ul {list-style: none;}

body {font-family: 'Noto Sans KR', sans-serif;color: #333;}

#slide {position: relative;}
.slideItem {height: 100%;width: 100%;position: absolute;background-position: center;background-size: cover;display: none;}
.slideItem:first-of-type {display: block;}
.slideItem>h2 {position: absolute;width: 40%;top: 40%;left: 40%;font-size: 2em;font-weight: 100;}
.slideItem>p {position: absolute;width: 60%;top: 50%;left: 20%;}
#slide>i {position: absolute;font-size: 3em;padding: 10px;border: 1px solid #333;border-radius: 50%;}
.prev {left: 2%;}
.next {right: 2%;}

/* PC 모니터나 노트북용 화면*/
@media screen and (min-width: 1280px) {
    body {font-size: 12px;}
    #innerHeader, section, footer {width: 1200px;margin: 0 auto;}
    header {width: 100%;height: 120px;position: absolute;z-index: 3;}
    #innerHeader {height: 100%;}
    #topmenu {float: right;}
    #logo {display: block;width: 200px;margin: 0 auto;}
    #innerHeader>nav {overflow: hidden;width: 720px;margin: 20px auto 0;}
    #gnb>li {float: left;text-align: center;}
    #gnb>li>a {display: block;width: 180px;padding: 8px 0 12px;font-size: 18px;transition-duration: .4s;}
    #gnb>li:hover>a {background-color: rgba(0, 0, 0, 0.6);color: #fff;}
    .submenu {display: none;}
    .submenu>li>a {display: block;padding: 6px 0 10px;font-size: 14px;transition-duration: .4s;background-color: rgba(128, 255, 128, 0.75);}
    .submenu>li>a:hover {background-color: rgba(64, 128, 64, 0.75);color: #fff}
    
    
}

/* 일반적인 태블릿용 화면 */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    
}

/* 일반적인 스마트폰용 화면 */
@media screen and (max-width: 767px) {
    
}